*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.salive
*.log
app/src/main/cpp/native-lib.cpp
*.ps1
errors*.txt
app_log.txt
startup_log.txt
app/cacheDir/
